
{%extends "Catsaweb/base.html"%}

{% load static%}

{%block content%}

<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <h3 class="text-sm-center text-md-center text-lg-center text-xl-center text-center fs-2"> PROYECTOS</h3>
        </div>
        <div class="row justify-content-center">
            <div class=" col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                <h4 class="text-sm-center text-md-center text-lg-center text-xl-center text-center fs-3">
                    AEROPUERTOS</h4>
                {% regroup proyectosAeropuerto by year as proyectos_list %}
                {% for yearGroup in proyectos_list %}
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                       <div class="accordion-item">
                            <h2 class="accordion-header" id="aeropuerto-headingOne">
                                <button class="accordion-button " type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-aeropuerto" aria-expanded="true"
                                        aria-controls="panelsStayOpen-aeropuerto">{{ yearGroup.grouper }}
                                </button>
                            </h2>
                             {% for proyectosName in yearGroup.list %}
                            <ul class="list-group border-0 accordion-collapse collapse show" id="panelsStayOpen-aeropuerto"
                                aria-labelledby="panelsStayOpen-aeropuerto">
                            <li class=" list-group-item border-0 bi bi-bookmark-check-fill">
                                {{ proyectosName.nombre_proyecto }}
                            </li>
                             {% endfor %}
                            </ul>
                        </div>   
                    </div>
                {% endfor %}
                </div>
                <div class=" col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <h4 class="text-sm-center text-md-center text-lg-center text-xl-center text-center fs-3">
                        CARRETERAS Y VIALIDADES</h4>
                    {% regroup proyectosViales by year as proyectos_list %}
                        {% for yearGroup in proyectos_list %}
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="vialidad-headingOne">
                                    <button class="accordion-button " type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-vialidad" aria-expanded="true"
                                            aria-controls="panelsStayOpen-vialidad">  {{ yearGroup.grouper }}
                                    </button>
                                </h2>
                                {% for proyectosName in yearGroup.list %}
                                    <ul class="list-group border-0 accordion-collapse collapse show"
                                        id="panelsStayOpen-vialidad"
                                        aria-labelledby="panelsStayOpen-vialidad">
                                    <li class=" list-group-item border-0 bi bi-bookmark-check-fill">
                                        {{ proyectosName.nombre_proyecto }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
       </div> 
    </div>
</section> 
{%endblock%}   
