{%extends "Catsaweb/base.html"%}

{% load static%}

{%block content%}
<section class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <img
                    src="{% static 'Catsaweb/images/indexImg1.jpg' %}"
                    alt="about"
                    class="img-fluid mx-auto d-block w-100 rounded-3 mt-5"
            />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h3 class="textAboutH3  text-sm-center text-md-center text-lg-center  text-xl-center text-center fs-4">
                SOMOS UNA EMPRESA MEXICANA LÍDER EN OBRAS DE CONSTRUCCIÓN,
                URBANIZACIÓN Y ELECTRIFICACION.
            </h3>
            <p class="text-sm-center text-md-center text-lg-center  text-xl-center text-center fs-5 w-100">
                Buscamos ofrecer a nuestros clientes experiencia y eficiencia en
                obras de pavimentación, urbanización y construccion.
            </p>
            <p class="text-sm-center text-md-center text-lg-center  text-xl-center text-center fs-5 w-100">
                Siembre restando el medio ambiente ofreciendo servicios con un
                enfoque sustentable. Fundada en 2007, CATSA ha mantenido un enfoque
                claro en la satistaccion de sus clientes en todas sus líneas de
                negocio.
            </p>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p class="textBanner text-sm-center text-md-center text-lg-center  text-xl-center text-center fs-2">
            Adicionalmente hemos incursionado en el negocio de la producción de
            concreto contando para ello con maquinaria de punta y transporte
            eficiente.
        </p>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div>
                <img
                        src="{% static 'Catsaweb/images/indexVision.jpg' %}"
                        class="img-fluid mx-auto d-block w-100 rounded-3"
                        alt=""
                />
            </div>
            <div>
                <h1 class="textAboutH1 fs-1 text-center">VISIÓN</h1>
            </div>
            <div class="text-sm-center text-md-center text-lg-center  text-xl-center text-center">
                <p class="lh-sm fs-6">
                    Ser una empresa lider en su ramo. ofreciendo servicios de calidad
                    y cumpliendo con los requisitos y necesidades de cada cliente.
                </p>
                <p class="lh-sm fs-6">
                    Estar en constante innovacion dara ofrecer nuevas tecnologias y
                    materiales de construcción que nos hermilan militar el impacto
                    ambiental dentro de nuestro ramo.
                </p>
                <p class="lh-sm fs-6">
                    mismo, ampliar nuestras lineas de trabajo al otrecer servicios de
                    arquitectura, construccion y remodelacion de inmuebles, asesorias
                    v consultoras arquitectonicas con un enroque bioclimatico y
                    sustentable, buscando siempre obtener la satistaccion del cliente
                    por medio de la reduccion del consumo energetico v la reduccion en
                    costos
                </p>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div>
                <img
                        src="{% static 'Catsaweb/images/indexMision1.jpg' %}"
                        class="img-fluid mx-auto d-block w-100 rounded-3"
                        alt=""
                />
            </div>
            <div>
                <h1 class="textAboutH1 fs-1 text-center">MISIÓN</h1>
            </div>
            <div class="text-sm-center text-md-center text-lg-center  text-xl-center text-center">
                <p class="lh-sm fs-6">
                    Estar en constante mejoras y actualizacion en cuanta a materiales
                    y sistemas contructivos, planeacion y logistica, para convertirnos
                    en une empresa mas amigable con el medio ambiente obteniendo a la
                    vez la completa satisfacción de cliente.
                </p>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div>
                <div>
                    <img
                            src="{% static 'Catsaweb/images/indexPerfil.png'%}"
                            class="img-fluid mx-auto d-block w-100 rounded-3"
                            alt=""
                    />
                </div>
                <div>
                    <h1 class="textAboutH1 fs-1 text-center">VALORES</h1>
                </div>
                <div class="text-sm-center text-md-center text-lg-center  text-xl-center text-center">
                    <p class="lh-sm fs-6">
                        Asfalticos Tecamac se caracteriza por ser una empresa joven una
                        de sus principales primicias es la constante capacitacion y
                        actualizacion de su personal.
                    </p>

                    <p class="lh-sm fs-6">
                        Esto nos permite estar a da en cuanto a materlales
                        procedimientos surgidos a nivel nacional e internacional.
                        Preocupados por los actuales problemas ambientales y conscientes
                        de que nuestro airo de trabaio es uno de los mas contaminantes,
                        se busca probar nuevos materales los riales denen estar
                        debidamente autorizados por a SC1 v otras dependencias
                        gubernamentales.
                    </p>

                    <p class="lh-sm fs-6">
                        principales valores presentes en nuestra empresa son la calidad,
                        responsablidad social y ambiental, así como el respeto por
                        nuestros clientes y la total sastifacción del mismo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}