
{%extends "Catsaweb/base.html"%}

{% load static%}

{%block content%}



<div class="container-fluid "></div>
<h2>Agregar/Modificar  Clientes</h2>
    <div class="row pb-3 mx-5" style="background-color: #dfe6ed">
        <form class="justify-content-center mt-2" method="POST">
            {% csrf_token %}
            {{form.as_table}}
            <button class="align-self-end btn btn-lg btn-block btn-primary" type="submit">Add</button>
        </form>
        {%if clientes %}
        <a href="{% url 'delete_cliente' clientes.id %}">
            <button class="align-self-end btn btn-lg btn-block btn-primary">Borrar Cliente</button>
        </a>
        {%endif%} 
    </div>
</div>
{% endblock %}